.mainTitle h1 {
    font-family: Copperplate, 'Copperplate Gothic Light';
    text-align: center;
    font-size: 60px;
    font-weight: 300;
    padding: 20;
    margin: 0;
}
.mainTitle #subtitle{
    font-family: Copperplate, 'Copperplate Gothic Light';
    text-align:  center;
}
.intro{
    width: 55%;
    float: left;
}
.intro h1{
    font-family: Copperplate, 'Copperplate Gothic Light';
    text-align:  left;
    font-weight: 400;
}
.tools{
    width: 45%;
    float:left;
    height: 400px;
}
.tools h1 {
    font-family: Copperplate, 'Copperplate Gothic Light';
    text-align:  left;
    font-weight: 400;
    
}
.visual h1 {
    font-family: Copperplate, 'Copperplate Gothic Light';
    text-align:  left;
    font-weight: 400;
    clear: both;
}





body{
    margin: 40px;
}
.button {  
    font-size: 12px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #33ccff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px #999;
    padding-top: 10px;
    text-align: center;
    margin-bottom: 5px;
}
.button:hover {background-color: #33ccff}
.button:active {
  background-color: #33ccff;
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}
#resetButton{
    background-color: #ff4f4c;
}
#resetButton:hover{
    background-color: #cc0300; 
}



input[type=text] {
    border-style: solid;
    border: 1px solid ;
    border-radius:  5px;
    width: 120px;
    font-size: 20px;
  -webkit-appearance: none;
}

#menuBar{
    overflow: visible;
    height:50px;
}
#visual{
    overflow: visible;
}


#loadByTick{
    float: left;
    margin: 0 0 10px 20px;
}
#loadByRemove{
    float: left;
    margin: 0 0 10px 20px; 
}



#reset{
    float: left;
    margin: 0 0 0px 20px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    font-size: 16px;
    width: 220px;
    height: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    pointer-events: none;
    
}


.dropdown {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    width: 200px;
}

.dropdown-content {
    display: none;
    width: 200px;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


.select{
    width:200px;
    z-index:999;
    margin-left: 0px;
    text-align: center;

}

.button-wrapper{
    margin-bottom: 5px;
    z-index:999;
        width: 200px;
}

.wrapper{
    display:inline-block;
}
.chartbox{
    display:inline-block;
    width:100%;
}

.closing-price-chart{
    height:200px;
    width: 990px;
}
.bigChart{
    height: 200px;
    width: 990px;
}
#firstChart{
    overflow:auto;
    width: 20%;
    float:left;
}
#secondChart{
    overflow:auto;
    float:left;
    width:20%;
}
#thirdChart{
    overflow:auto;
    float:left;
    width:50%;
}
#dividends-chart{
    clear:both;
}
